    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The true taste of Kerala</h2>
                <p>Kerala food is hot and spicy. Several fresh spices are used while food preparation that gives a unique aroma and flavor to the food. Coconut either chopped or grated, or its milk predominates almost all the dishes of this place. Apart from this various local vegetables such as cassava, tapioca and yam are also important ingredients of the Kerala cuisine.</p>
            </div>
        </div>
    </section>
