    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Anamika Kerala Restaurant</h1>
                        <h2 class="intro-text">Great food. Tastes good.</p>
                        <p class="intro-text">Kerala food is hot and spicy. Several fresh spices are used while food preparation that gives a unique aroma and flavor to the food. Coconut either chopped or grated, or its milk predominates almost all the dishes of this place. Apart from this various local vegetables such as cassava, tapioca and yam are also important ingredients of the Kerala cuisine.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
